

.page-header {
  display: flex;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &__login-button {
    margin-right: 20px;
  }
}