@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic);
.menu {
  list-style: none;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: normal;
  font-size: 14px; }
  .menu__submenu-button {
    text-decoration: none;
    display: inline-block;
    margin-right: -2px;
    color: rgba(31, 32, 65, 0.5); }
    .menu__submenu-button:hover {
      color: #1F2041; }
    .menu__submenu-button::after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 8px;
      margin-bottom: 2px;
      border-left: 2px solid rgba(31, 32, 65, 0.5);
      border-bottom: 2px solid rgba(31, 32, 65, 0.5);
      transform: rotate(-45deg); }
  .menu__link {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5); }
    .menu__link:hover {
      color: #1F2041; }
  .menu__link_current {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75); }
  .menu_horizontal .menu__item {
    margin-right: 29px; }
  .menu_submenu {
    position: absolute;
    border: 1px solid rgba(31, 32, 65, 0.5);
    padding: 8px 0 8px 25px; }

.logo {
  width: 106px;
  height: 40px; }

.button_theme_white, .button_theme_purple, .button_arrow_right {
  padding: 9px 19px;
  border-radius: 22px;
  background: linear-gradient(#BC9CFF, #8CA4F9); }
  .button_theme_white:hover, .button_theme_purple:hover, .button_arrow_right:hover {
    background: linear-gradient(rgba(188, 156, 255, 0.5), rgba(140, 164, 249, 0.5)); }

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.067em;
  color: #BC9CFF;
  text-transform: uppercase;
  text-decoration: none; }
  .button:hover {
    color: rgba(31, 32, 65, 0.5); }
  .button__text {
    z-index: 1;
    position: relative; }
  .button_theme_white {
    position: relative; }
    .button_theme_white::before {
      content: "";
      position: absolute;
      border-radius: inherit;
      box-sizing: border-box;
      background-color: #FFFFFF;
      background-clip: padding-box;
      border: 2px solid transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .button_theme_white:hover {
      color: #BC9CFF; }
  .button_theme_purple {
    color: #FFFFFF; }
    .button_theme_purple:hover {
      color: #FFFFFF; }
  .button_arrow_right {
    color: #FFFFFF;
    position: relative;
    padding-left: 44px;
    padding-right: 44px; }
    .button_arrow_right::after {
      content: "";
      position: absolute;
      border-top: 2px solid #FFFFFF;
      border-right: 2px solid #FFFFFF;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      right: 16px;
      top: 50%;
      margin-top: -6px;
      background-image: linear-gradient(-45deg, transparent 6px, #FFFFFF 6px, #FFFFFF 8px, transparent 8px); }
    .button_arrow_right:hover {
      color: #FFFFFF; }

.header-3 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #1F2041; }

.body-text {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.range-slider {
  display: flex;
  flex-direction: column; }
  .range-slider__header {
    display: flex;
    justify-content: space-between; }
  .range-slider__caption {
    margin: 2px 0 0; }
  .range-slider__values {
    font-family: "Montserrat", "Verdana", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5);
    position: relative;
    margin-top: 1px;
    padding-left: 2px; }
  .range-slider__lowvalue:hover, .range-slider__highvalue:hover {
    cursor: pointer;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.5); }
  .range-slider__input-lowvalue {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 1px 0 1px 1px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    font-family: "Montserrat", "Verdana", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5); }
  .range-slider__input-highvalue {
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 1px 0 1px 1px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    font-family: "Montserrat", "Verdana", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5); }
  .range-slider__axis {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 2px;
    height: 4px;
    position: relative;
    margin: 22px 0 10px; }
  .range-slider__toggler {
    background: linear-gradient(to bottom, #6FCF97, #66D2EA) no-repeat 0 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    position: absolute;
    z-index: 2;
    margin-top: -6px;
    cursor: pointer; }
  .range-slider__toggler_left {
    margin-left: -8px; }
  .range-slider__toggler_right {
    margin-right: -8px; }
  .range-slider__axis-filling {
    background: linear-gradient(to bottom, #6FCF97, #66D2EA) no-repeat 0 0;
    height: 6px;
    position: absolute;
    z-index: 1;
    margin-top: -1px; }
  .range-slider__footer {
    margin: 0; }

.pagination {
  color: rgba(31, 32, 65, 0.5);
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px; }
  .pagination__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .pagination__elem {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 22px;
    text-align: center;
    vertical-align: middle; }
  .pagination__link {
    text-decoration: none;
    color: inherit;
    width: 40px;
    height: 40px; }
  .pagination__next {
    content: "";
    display: inline-block;
    margin-top: 2px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-image: linear-gradient(-45deg, transparent 6px, #FFFFFF 6px, #FFFFFF 8px, transparent 8px); }
  .pagination__prev {
    content: "";
    display: inline-block;
    margin-top: 2px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-image: linear-gradient(-45deg, transparent 6px, #FFFFFF 6px, #FFFFFF 8px, transparent 8px); }
  .pagination__legend {
    margin-top: 8px;
    margin-left: 5px; }
  .pagination__elem_current {
    background: linear-gradient(to bottom, #BC9CFF 0%, #8CA4F9 100%); }
    .pagination__elem_current .pagination__inactive {
      color: white;
      font-weight: bold; }
  .pagination__elem_next {
    background: linear-gradient(to bottom, #6FCF97 0%, #66D2EA 100%); }
  .pagination__elem_prev {
    background: linear-gradient(to bottom, #6FCF97 0%, #66D2EA 100%); }

.easy-checkbox {
  margin: 0;
  padding: 0;
  list-style: none; }
  .easy-checkbox__item {
    margin-bottom: 10.5px; }
  .easy-checkbox__label {
    display: flex;
    align-items: flex-start;
    cursor: pointer; }
  .easy-checkbox__check {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin-right: 10px;
    flex-shrink: 0;
    position: relative; }
    .easy-checkbox__check::before {
      content: "";
      display: none;
      position: absolute;
      width: 6px;
      height: 2px;
      top: 9px;
      left: 4px;
      transform: rotate(45deg);
      background-color: #8CA4F9; }
    .easy-checkbox__check::after {
      content: "";
      display: none;
      position: absolute;
      width: 2px;
      height: 8px;
      top: 5px;
      left: 10px;
      transform: rotate(45deg);
      background: linear-gradient(to bottom, #BC9CFF, #8CA4F9); }
  .easy-checkbox__text {
    margin: 2px 0 0;
    flex-grow: 1;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5); }
  .easy-checkbox__item > input:checked ~ .easy-checkbox__label > .easy-checkbox__check {
    border-color: #BC9CFF; }
    .easy-checkbox__item > input:checked ~ .easy-checkbox__label > .easy-checkbox__check::before, .easy-checkbox__item > input:checked ~ .easy-checkbox__label > .easy-checkbox__check::after {
      display: block; }

.radiobuttons {
  margin: 0;
  padding: 0;
  list-style: none; }
  .radiobuttons__item {
    margin-bottom: 10.5px;
    display: inline-block;
    margin-right: 16px; }
    .radiobuttons__item:last-of-type {
      margin-right: 0; }
  .radiobuttons__label {
    display: flex;
    align-items: flex-start;
    cursor: pointer; }
  .radiobuttons__check {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin-right: 10px;
    flex-shrink: 0;
    position: relative; }
    .radiobuttons__check::before {
      content: "";
      display: none;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      background: linear-gradient(to bottom, #BC9CFF, #8CA4F9); }
  .radiobuttons__text {
    margin: 0;
    flex-grow: 1;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5); }
  .radiobuttons__item > input:checked ~ .radiobuttons__label > .radiobuttons__text {
    color: rgba(31, 32, 65, 0.75); }
  .radiobuttons__item > input:checked ~ .radiobuttons__label > .radiobuttons__check {
    border-color: #BC9CFF; }
    .radiobuttons__item > input:checked ~ .radiobuttons__label > .radiobuttons__check::before {
      display: block; }

.toggle__label {
  display: flex;
  align-items: flex-start;
  cursor: pointer; }

.toggle__check {
  display: inline-block;
  width: 38px;
  height: 18px;
  border-radius: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin-right: 10px;
  flex-shrink: 0;
  position: relative; }
  .toggle__check::before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(31, 32, 65, 0.25), rgba(31, 32, 65, 0.25));
    transition: background, left 0.5s ease; }

.toggle__text {
  margin: 0;
  flex-grow: 1;
  line-height: 18px; }

.toggle > input:checked ~ .toggle__label > .toggle__check {
  border-color: #BC9CFF; }
  .toggle > input:checked ~ .toggle__label > .toggle__check::before {
    background: #BC9CFF linear-gradient(to bottom, #BC9CFF, #8CA4F9);
    left: 23px; }

.like-button {
  display: inline-block; }
  .like-button__label {
    display: flex;
    justify-content: stretch;
    align-items: center;
    cursor: pointer;
    min-width: 40px;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(31, 32, 65, 0.25), rgba(31, 32, 65, 0.25));
    position: relative; }
    .like-button__label::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid transparent;
      background-color: #FFFFFF;
      background-clip: content-box;
      z-index: 1; }
  .like-button__check {
    width: 10px;
    height: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 2;
    margin-left: 5px; }
    .like-button__check path {
      stroke: rgba(31, 32, 65, 0.25);
      stroke-width: 1px;
      fill: #FFFFFF; }
  .like-button__text {
    flex-grow: 1;
    text-align: center; }
  .like-button__text::before {
    content: "";
    display: inline;
    position: relative;
    margin: 0 8px 0 3px;
    line-height: 22px;
    z-index: 2;
    font-family: "Montserrat", "Verdana", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    color: rgba(31, 32, 65, 0.25); }
  .like-button > input:checked ~ .like-button__label {
    background: #BC9CFF linear-gradient(to bottom, #BC9CFF, #8CA4F9);
    transition: background 0.5s ease; }
  .like-button > input:checked ~ .like-button__label > .like-button__check > path {
    stroke: #BC9CFF;
    fill: #BC9CFF;
    transition: all 0.5s ease; }
  .like-button > input:checked ~ .like-button__label > .like-button__text::before {
    content: attr(data-like);
    color: #BC9CFF;
    transition: color 0.5s ease; }
  .like-button > input:not(checked) ~ .like-button__label > .like-button__text::before {
    content: attr(data-nolike); }
  .like-button__label:hover {
    background: linear-gradient(to bottom, rgba(31, 32, 65, 0.5), rgba(31, 32, 65, 0.5)); }
  .like-button__label:hover .like-button__check path {
    fill: rgba(31, 32, 65, 0.25); }
  .like-button__label:hover .like-button__text::before {
    color: rgba(31, 32, 65, 0.5); }

.rate-button {
  border: none;
  display: inline-block; }
  .rate-button__rate {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .rate-button__rate::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("data:image/svg+xml;utf8,\a         <svg xmlns='http://www.w3.org/2000/svg'>\a           <defs>\a             <linearGradient id='rate-button__star-gradient' x1='0' x2='0' y1='0' y2='1'>\a               <stop offset='0%' stop-color='%23BC9CFF'/>\a               <stop offset='100%' stop-color='%238CA4F9'/>\a             </linearGradient>\a           </defs>\a           <polygon fill='url(%23rate-button__star-gradient)'\a           points='10,0 12.86,5.86 20,6.11 14.71,11.43 16.86,20 10,15 3.14,20 5.14,11.43 0,6.11 6.86,5.86'/>\a         </svg>") no-repeat; }
    .rate-button__rate::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("data:image/svg+xml;utf8,\a         <svg xmlns='http://www.w3.org/2000/svg'>\a           <polygon fill='%23FFFFFF'\a           points='10,4 11.71,7.51 16.15,7.68 12.83,10.86 14.16,15.6 10,13 5.94,15.6 7.08,10.86 3.93,7.68 8.11,7.51'/>\a         </svg>") no-repeat; }
  .rate-button > #rating-1:checked ~ .rate-button__rate_1::after,
  .rate-button > #rating-2:checked ~ .rate-button__rate_1::after,
  .rate-button > #rating-2:checked ~ .rate-button__rate_2::after,
  .rate-button > #rating-3:checked ~ .rate-button__rate_1::after,
  .rate-button > #rating-3:checked ~ .rate-button__rate_2::after,
  .rate-button > #rating-3:checked ~ .rate-button__rate_3::after,
  .rate-button > #rating-4:checked ~ .rate-button__rate_1::after,
  .rate-button > #rating-4:checked ~ .rate-button__rate_2::after,
  .rate-button > #rating-4:checked ~ .rate-button__rate_3::after,
  .rate-button > #rating-4:checked ~ .rate-button__rate_4::after,
  .rate-button > #rating-5:checked ~ .rate-button__rate_1::after,
  .rate-button > #rating-5:checked ~ .rate-button__rate_2::after,
  .rate-button > #rating-5:checked ~ .rate-button__rate_3::after,
  .rate-button > #rating-5:checked ~ .rate-button__rate_4::after,
  .rate-button > #rating-5:checked ~ .rate-button__rate_5::after {
    display: none; }

.page-header {
  display: flex;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px; }
  .page-header__menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1; }
  .page-header__login-button {
    margin-right: 20px; }

.html-page__page-header {
  margin-top: 22px; }

.html-page__button {
  box-sizing: border-box;
  width: 320px;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px; }

.html-page__pagination {
  margin-left: 50px; }

.html-page__checkbox {
  margin-left: 50px;
  width: 225px; }

.html-page__radiobuttons {
  margin-left: 50px;
  width: 225px; }

.html-page__toggle {
  margin-left: 50px;
  width: 260px; }

.html-page__like-button {
  margin-left: 6px; }

body {
  padding: 0;
  margin: 0; }

