//- Used BEM-blocks
include ../blocks/common/page-header/page-header
//- include ../blocks/common/range-slider/range-slider
//- include ../blocks/common/pagination/pagination
//- include ../blocks/common/checkbox/checkbox
//- include ../blocks/common/radiobutton/radiobutton
//- include ../blocks/common/toggle/toggle
//- include ../blocks/common/like-button/like-button
//- include ../blocks/common/rate-button/rate-button
//- include ../blocks/common/text-field/text-field
include ../blocks/common/counter/counter

//- Variables
-
    var servicesSubMenu = {
        menu: [
            {name: "Service 1", href: "#"},
            {name: "Service 2", href: "#"},
            {name: "Service 3", href: "#"}],
        idMenu: "Service"
    }

-
    var headerMenu = [
        {name: "Home", isCurrent: true},
        {name: "About Us", href: "#"},
        {name: "Services", href: "#", submenu: servicesSubMenu},
        {name: "Careers", href: "#"},
        {name: "News", href: "#"},
        {name: "Documentation", href: "#"}
    ]

//-
    var checkboxTest = [
        {id: "smoke", text: "Можно курить", value: "smoke"},
        {id: "pets", text: "Можно с питомцами", value: "pets", isChecked: true},
        {id: "guest", text: "Можно пригласить гостей (до 10 человек)", value: "guest", isChecked: true}
    ]

//-
    var radiobuttonTest = [
        {id: "man", text: "Мужчина", value: "man", isChecked: "true"},
        {id: "woman", text: "Женщина", value: "woman"}
    ];


block variables
    - var pageTitle = 'Page'


doctype html
html
    head(lang = 'ru')
        meta(charset = 'utf-8')
        title= pageTitle
        block commonHead
            link(rel="stylesheet", href="style.css")
            script(src="js/common.js")
            //-script(src="js/common.js")
    body.html-page
        +page-header(headerMenu)(class="html-page__page-header")
        //- .slider-wrapper(style="width: 266px; margin: 100px;")
            +range-slider("html-page__range-slider", "Range Slider", 0, 16000, 5000, 10000, "₽", "This is a double slider")
        //- +button({name: "Перейти к оплате-шмаплате недоперезарплате!", href: "#"})(class="html-page__button button_arrow_right")
        //- +pagination(15, 10, "1 – 12 из 100+ вариантов аренды")(class="html-page__pagination")
        //- +checkbox("test", checkboxTest)(class="html-page__checkbox")
        //- +radiobuttons("sex", radiobuttonTest)(class="html-page__radiobuttons")
        //- +toggle("subscriber", "subscriber", "Получать спецпредложения", "subscriber", false)(class="html-page__toggle")
        //- +like-button("likes1", "likes1", 2, false)(class="html-page__like-button")
        //- +like-button("likes2", "likes2", 12, true)(class="html-page__like-button")
        //- +like-button("likes3", "likes3", 5678912, true)(class="html-page__like-button")
        //- +rate-button("rating")
        //- +text-field("textField", "", "ДД.ММ.ГГГГ", true, "\\d{2}.\\d{2}.\\d{4}", "00.00.0000")(class="html-page__text-field")
        +counter("idCounter", "nameCounter", 0, 2)
        block commonBody
            p "Common page!"
