
// Paths

$pathBlocks: "blocks/common";

// Colors

$colorPurple: #BC9CFF;
$colorGreen: #6FCF97;
$colorDarkShade: #1F2041;
$colorDarkShade75: rgba(31, 32, 65, 0.75);
$colorDarkShade50: rgba(31, 32, 65, 0.5);
$colorDarkShade25: rgba(31, 32, 65, 0.25);
$colorDarkShade5: rgba(31, 32, 65, 0.05);
$colorBackground: #FFFFFF;
