

.easy-checkbox {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 10.5px;
  }

  &__label {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  &__check {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid $colorDarkShade50;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;

    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 6px;
      height: 2px;
      top: 9px;
      left: 4px;
      transform: rotate(45deg);
      background-color: $colorPurpleDark;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      width: 2px;
      height: 8px;
      top: 5px;
      left: 10px;
      transform: rotate(45deg);
      background: linear-gradient(to bottom, $colorPurple, $colorPurpleDark);
    }
  }

  &__text {
    margin: 2px 0 0;
    flex-grow: 1;
    line-height: 18px;
  }


  &__item > input:checked ~ &__label > &__check {
    border-color: $colorPurple;

    &::before,
    &::after {
      display: block;
    }
  }
}